<h1>  Alec Volz </h1>
    <div class="container">
        <div class="row">
    <h4>Contact Information:</h4>
            <div class="col-md-6">
        <p>Address: 110 Rose Avenue
            West View, PA 16117</p>
        <p>Telephone: (412)443-7605</p>
            </div>
            <div class="col-md-6">
        <p>Email: bubbyvolz32@yahoo.com</p>
        <p>School Email: asv1004@sru.edu</p>
            </div>
        </div>
    </div>
    <div class="pic">
        <img src = "{{Bubby-Volz}}">
    </div>
<hr>